<html>
<head>
<title>Login</title>
</head>
<body>
<h1>Login</h1>
<table border="1">
    <tr>
        <th>Username</th>
        <th>Password</th>
    </tr>
    <tr>
        <td>{{.Username}}</td>
        <td>{{.Password}}</td>
    </tr>
</table>
</body>
</html>